h1 {
  text-align: center;
  color: #eee;
  background-color: #262626;
  margin: 0;
  padding: 1vw;
}

nav {
  position: fixed;
  right: 3vw;
  top: 5vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 7vw;

  a {
    margin: 1vw 0;
    text-decoration: none;
    background-color: #262626;
    color: #eeeeee;
    width: 8vw;
    height: 8vw;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 1s;
    &:hover {
      border-radius: 100%;
    }
  }
}
